section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 1rem;
}

div {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1rem;
}

@supports (animation-timeline: scroll()) {
  div:nth-child(odd) {
    transform: translateY(calc(-100% + 100vh));
  }

  section {
    overflow-y: clip;
  }
}

div:nth-child(odd) {
  animation: adjust-position linear forwards;
  animation-timeline: scroll(root block);
}

@keyframes adjust-position {
  from {
    transform: translateY(calc(-100% + 100vh));
  }
  to {
    transform: translateY(calc(100% - 100vh));
  }
}
